{% extends "base.html" %}
{% load numberformat %}
{% load static %}

{% block css %}
    <link rel="stylesheet" href="/myproject/static/list.css">
    <link rel="stylesheet" href="/myproject/static/list.css">
    <link rel="stylesheet" href="{% static 'mainapp/products.css' %}">
{% endblock %}

{% block body %}
<h1>Product List</h1>


<ul>
    {% for product in products %}
        <li>
            <a href="{% url 'mainapp:detail' product.id %}">
                {% if forloop.counter|divisibleby:2 %}
                    {{ forloop.counter }} **)
                {% else %}
                    {{ forloop.counter }} *)
                {% endif %}
                {{product.name|title|show_title:10}} </a>
            -- {{product.total_price }}
            <br>
            {% if product.description %}
                {{ product.description|safe|truncatechars:150 }}
            {% else %}
                No description
            {% endif %}

            <p>{{ product.created_at|date:"d.m.Y H:m" }}</p>
            <p>{{ product.created_at|timesince }}</p>
        </li>
    {% endfor %}
</ul>


{% endblock %}



{% block content %}
<h1>Welcome to Django</h1>
<br>

{% include "products/include.html" %}

{% endblock %}