
<h1>Suretli danismiram?</h1>



<h3>{{ text }}</h3>


{{ product_list }}
<br>


<ul>
    {% for product in product_list %}
        <li>{{ product }}</li>
    {% endfor %}
</ul>

<br>

<ul>
    {% for product in products %}
        <li>{{ product.name }} --> {{ product.price }}
            --> {% if product.discount_price %} {{ product.discount_price }} {% else %} 0 {% endif %}
        </li>
    {% endfor %}
</ul>\

<br>

<h1>This is my product called " {{ myproduct.name }} ", price is " {{ myproduct.price }} AZN" </h1>